In [1]:
import pertpy as pt
import anndata as ad

In [2]:
adata = ad.read_h5ad("adata_male.h5ad")

In [3]:
adata.obs

           gender  age     condition    batch celltype
cell_ID
SRR3562210   male   21  non-diabetic  batch 1    alpha
SRR3562211   male   21  non-diabetic  batch 1    alpha
SRR3562212   male   21  non-diabetic  batch 1   acinar
SRR3562213   male   21  non-diabetic  batch 1    alpha
SRR3562214   male   21  non-diabetic  batch 1    alpha
...           ...  ...           ...      ...      ...
ERR1633137   male   52           T2D  batch 4   ductal
ERR1633138   male   52           T2D  batch 4   ductal
ERR1633139   male   52           T2D  batch 4    alpha
ERR1633141   male   52           T2D  batch 4    alpha
ERR1633142   male   52           T2D  batch 4    alpha

[3799 rows x 5 columns]

In [4]:
sccoda_model_draft = pt.tl.Sccoda()

sccoda_data_draft = sccoda_model_draft.load(
    adata,
    type="cell_level",
    generate_sample_level=True,
    cell_type_identifier="celltype",
    sample_identifier="batch",
    covariate_obs=["condition"],
)
sccoda_data_draft

❗ Covariate condition has non-unique values for batch! Skipping...

MuData object with n_obs × n_vars = 3803 × 4013
  2 modalities
    rna:	3799 x 4000
      obs:	'gender', 'age', 'condition', 'batch', 'celltype', 'scCODA_sample_id'
      layers:	'counts'
    coda:	4 x 13
      obs:	'batch'
      var:	'n_cells'

In [5]:
sccoda_data_draft["coda"].obs

                    batch
scCODA_sample_id
batch 1           batch 1
batch 2           batch 2
batch 3           batch 3
batch 4           batch 4

In [6]:
adata_2 = pt.dt.haber_2017_regions()

In [7]:
adata_2.obs

,batch,barcode,condition,cell_label
index,,,,
B1_AAACATACCACAAC_Control_Enterocyte.Progenitor,B1,AAACATACCACAAC,Control,Enterocyte.Progenitor
B1_AAACGCACGAGGAC_Control_Stem,B1,AAACGCACGAGGAC,Control,Stem
B1_AAACGCACTAGCCA_Control_Stem,B1,AAACGCACTAGCCA,Control,Stem
B1_AAACGCACTGTCCC_Control_Stem,B1,AAACGCACTGTCCC,Control,Stem
B1_AAACTTGACCACCT_Control_Enterocyte.Progenitor,B1,AAACTTGACCACCT,Control,Enterocyte.Progenitor
...,...,...,...,...
B10_TTTCACGACAAGCT_Salmonella_TA,B10,TTTCACGACAAGCT,Salmonella,TA
B10_TTTCAGTGAGGCGA_Salmonella_Enterocyte,B10,TTTCAGTGAGGCGA,Salmonella,Enterocyte
B10_TTTCAGTGCGACAT_Salmonella_Stem,B10,TTTCAGTGCGACAT,Salmonella,Stem
B10_TTTCAGTGTGACCA_Salmonella_Endocrine,B10,TTTCAGTGTGACCA,Salmonella,Endocrine
B10_TTTCAGTGTTCTCA_Salmonella_Enterocyte.Progenitor,B10,TTTCAGTGTTCTCA,Salmonella,Enterocyte.Progenitor

In [8]:
haber_sccoda = sccoda_model_draft.load(
    adata_2,
    type="cell_level",
    generate_sample_level=True,
    cell_type_identifier="cell_label",
    sample_identifier="batch",
    covariate_obs=["condition"],
)
haber_sccoda

MuData object with n_obs × n_vars = 9852 × 15223
  2 modalities
    rna:	9842 x 15215
      obs:	'batch', 'barcode', 'condition', 'cell_label', 'scCODA_sample_id'
    coda:	10 x 8
      obs:	'condition', 'batch'
      var:	'n_cells'

In [9]:
haber_sccoda["coda"].obs

                    condition batch
scCODA_sample_id
B1                    Control    B1
B10                Salmonella   B10
B2                    Control    B2
B3                    Control    B3
B4                    Control    B4
B5                 Hpoly.Day3    B5
B6                 Hpoly.Day3    B6
B7                Hpoly.Day10    B7
B8                Hpoly.Day10    B8
B9                 Salmonella    B9

In [10]:
adata_2.obs.condition

index
B1_AAACATACCACAAC_Control_Enterocyte.Progenitor           Control
B1_AAACGCACGAGGAC_Control_Stem                            Control
B1_AAACGCACTAGCCA_Control_Stem                            Control
B1_AAACGCACTGTCCC_Control_Stem                            Control
B1_AAACTTGACCACCT_Control_Enterocyte.Progenitor           Control
                                                          ...
B10_TTTCACGACAAGCT_Salmonella_TA                       Salmonella
B10_TTTCAGTGAGGCGA_Salmonella_Enterocyte               Salmonella
B10_TTTCAGTGCGACAT_Salmonella_Stem                     Salmonella
B10_TTTCAGTGTGACCA_Salmonella_Endocrine                Salmonella
B10_TTTCAGTGTTCTCA_Salmonella_Enterocyte.Progenitor    Salmonella
Name: condition, Length: 9842, dtype: category
Categories (4, object): ['Control', 'Hpoly.Day3', 'Hpoly.Day10', 'Salmonella']

In [11]:
adata.obs.condition

cell_ID
SRR3562210    non-diabetic
SRR3562211    non-diabetic
SRR3562212    non-diabetic
SRR3562213    non-diabetic
SRR3562214    non-diabetic
                  ...
ERR1633137             T2D
ERR1633138             T2D
ERR1633139             T2D
ERR1633141             T2D
ERR1633142             T2D
Name: condition, Length: 3799, dtype: category
Categories (2, object): ['T2D', 'non-diabetic']

In [12]:
adata.obs.groupby("batch").nunique()

/tmp/ipykernel_486099/563633661.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  adata.obs.groupby("batch").nunique()

         gender  age  condition  celltype  scCODA_sample_id
batch
batch 1       1    3          1        11                 1
batch 2       1   10          2        11                 1
batch 3       1    4          1        11                 1
batch 4       1    7          2        13                 1

In [13]:
adata_2.obs.groupby("batch").nunique()

/tmp/ipykernel_486099/2595682284.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  adata_2.obs.groupby("batch").nunique()

       barcode  condition  cell_label  scCODA_sample_id
batch
B1         840          1           8                 1
B2         200          1           8                 1
B3        1258          1           8                 1
B4         942          1           8                 1
B5        1490          1           8                 1
B6         631          1           8                 1
B7        1169          1           8                 1
B8        1542          1           8                 1
B9         820          1           8                 1
B10        950          1           8                 1